#container1 {
    width: 800px;
}
#nav {
    width: 200px;
    float: left;
    margin-top: 50px;
}

#form {
    width: 550px;
    float:right;
    background-color:white;
}

input[type=text], input[type=password] ,select {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=textarea], select {
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    rows="4"
    cols="50"
}



