body {
	background-color: #ebebeb;
}

#container{
	background-color: white;
	padding: 50px;
	margin: 1%;
	font-family: Calibri, sans-serif;
  	font-size: 1.3em;
}

#header{
	font: 3em Calibri, sans-serif;
	font-weight: bold;
	color: white;
	background-color: #B30738;
	padding: 30px 20px;
	margin: -50px -50px 0px -50px;
}

h1, h2{
	border-bottom: 5px #B30738 solid;
	padding: 20px 10px;
}


input[type="button"],input[type="submit"]{
	background-color: #cb4e4e;
	color: #fff;
	border: none;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
	padding: 20px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
  	padding: 10px 50px 10px 50px;
	margin: 10px;
	box-shadow: 0 6px #ab3c3c;
}
input[type="button"]:hover,input[type="submit"]:hover{
	content: '';
	background: #690521;
	z-index: 1;
	box-shadow: 0 6px #4D2F2F;
}

input[type="button"]:active,input[type="submit"]:active{
	box-shadow: 0 0 #ab3c3c;
	top: 6px;
}
